.counter {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    

}

button {
    padding: 15px;
    border: none;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.addButton, .minusButton{
    background-color: #203602;
    color: white;
}

.minusButton:hover, .addButton:hover{
    background-color: #C0EC83;
    color: black;
}

span{
    color: rgb(255, 255, 255);
    padding: 20px
    
}

input{
    border-radius: 20px;
    border: 2px solid #C0EC83;
    padding: 10px;
    margin-bottom: 20px;
    width: 60px
}

hr{
    width: 150px;
    border: 1px solid #C0EC83;
}

body{
    background-image: linear-gradient(to left, #3B5C0A , #547A1D);
}

h1{
    color: #C0EC83;
    font-family: monospace;
    font-size: 40px
}

